ul {
    margin: 0;
    padding: 0;
}
li {
    
    list-style-type: none;
}
.item_todo {
    display: flex;
    justify-content: left;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    height: 3.6rem;
    text-align: left;
    align-items: center;
    padding: 0 0.5rem;
}

.table {
    display: flex;
    justify-content: left;
    font-weight: bold;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    height: 3.6rem;
    text-align: left;
    align-items: center;
    padding: 0 0.5rem;
}
.table_ID {
    width: 6rem;
}
.table_name {
    width: 18rem;
}
.table_address {
    width: 18rem;
}
.table_inn {
    width: 18rem;
}
.icon_action {
    padding: 0 0.5rem;

}
.complete {
    background-color: aquamarine;
}
.icon {
    width: 2rem;
    height: 2rem;
    margin: 0.6875rem 0.875rem;
}
.btn_delete, .btn_next {
    background-color: white;
    border: none;
}